<div id="sidemenu" class="sidemenu active">
    <ul>
        <li><a href="/dashboard">Notices</a></li>
        <li><a href="/addnotice">Add Notice</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="#">About</a></li>
    </ul>
</div>