<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SMART REFLECT</a>
        <form class="inline-form" action="#">
            <button class="btn btn-outline-light" type ="submit">CONTACT US</button>
        </form>
    </nav>
    <div class="main-content container-fluid">
        <div class="form-outline">
            <h3>ACCOUNT LOGIN</h3>
            <form action="#">
                <div class="form-group">
                    <label for="email">EMAIL</label>
                    <input type="text" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="password">PASSWORD</label>
                    <input type ="password" class="form-control" id="password" required>
                </div>
                <button typee="submit" class="btn btn-outline-dark">Login</button>
            </form>
        </div>
    </div>
</body>
</html>