<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.dashboard.css">
    <title>Login</title>
</head>

<body>
    {{>header}}

    <div id="wrapper">
        {{>sidebar}}
        <div id="main" class="main">
            <div id="personal-info">
                <h1>Personal Information</h1>
                <div id="info-contents"></div>
                <div class="wrapper-info">
                    <div class="add">
                        <span>Name</span>
                    </div>
                    <div class="edit">
                        <span>{{name}}<button type="button" class="edit-btn">edit</button></span>
                        <div class="edit-content hide">
                            <form action="/user/update", method = "POST">
                                <div class="form-group row">
                                    <input name = "name" class="form-control col" id="name">
                                    <button class="btn-collapse col-sm-2" type="submit">Save</button>
                                    <button class="btn-collapse col-sm-2 btn-cancel" type="button">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="wrapper-info">
                    <div class="add">
                        <span>Email</span>
                    </div>
                    <div class="edit">
                        <span>{{email}}<button type="button" class="edit-btn">edit</button></span>
                        <div class="edit-content hide">
                            <form method = "POST" action="/user/update">
                                <div class="form-group row">
                                    <input name = "email" class="form-control col" id="email">
                                    <button class="btn-collapse col-sm-2" type="submit">Save</button>
                                    <button class="btn-collapse col-sm-2 btn-cancel" type="button">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="wrapper-info">
                    <div class="add">
                        <span>Mobile Number</span>
                    </div>
                    <div class="edit">
                        <span>{{phoneNo}}<button type="button" class="edit-btn">edit</button></span>
                        <div class="edit-content hide">
                            <form method = "POST" action="/user/update">
                                <div class="form-group row">
                                    <input class="form-control col" id="phoneNo">
                                    <button class="btn-collapse col-sm-2" type="submit">Save</button>
                                    <button class="btn-collapse col-sm-2 btn-cancel" type="button">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="wrapper-info">
                    <div class="add">
                        <span>Password</span>
                    </div>
                    <div class="edit">
                        <div class="password">
                            <button class="btn btn-outline-dark btn-pass">Change Password</button>
                        </div>
                        <div class=" pass-form hide">
                            <form id = "pass-update" method = "POST" action="/user/update">
                                <div class="form-group">
                                    <label for="confirm-password">Enter new Password</label>
                                    <input name = "confirmPassword" type="password" class="form-control" id="confirm-password" required>
                                    <label for="password">Confirm Password</label>
                                    <input type="password" class="form-control" id="password" required>
                                    <button class="btn btn-dark btnSubmit">Change Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src = "/js/profile.js"></script>
    <script src="/js/dashboard.js"></script>
</body>

</html>